{% for tag in collections.tagList %}
  {% if tag != 'vomits' %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}

    <a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a>
  {% endif %} 

{% endfor %}