--- 
layout: base
permalink: /1000/ 
---

<div class="hero">
  <h2> 
    1000 Word Vomits
  </h2>

  <p> 
    Here is where I will document every small step I take on my road to 1 million words. If you're confused, read
    <a href="/posts/word-vomits">
    this post.
  </a>
  </p>
  
</div>

{% set postslist = collections.vomits %}
{% include "cards-list.njk" %}
